# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.env

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Logs
# =========================
*.log

# =========================
# SQLite / databases
# =========================
*.db
*.sqlite3

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# FastAPI / Uvicorn
# =========================
*.pid

# =========================
# Testing / cache
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Misc
# =========================
*.swp
*.swo